<div class="title"><h1>Template</h1></div>

<div class="parent">
   

    <div class="left">
         <fieldset>
            <legend>
                <h3>
                { KEY }
                </h3>
            </legend>
                <div class="text">
                
                </div>
          </fieldset>
    </div> 

    <div class="right"> 
        <fieldset>
            <legend>
                <h3>
                { VALUE }
                </h3>
            </legend>
           <img src="../../components/images/dummy.png">
        </fieldset>
      </div>
</div>

